{% load static %}
<nav class="main-navigation">
        <div class="row">
        <div class="col-4">
        <div class="navbar-header animated fadeInUp">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="max-height:80px;"></a>
        </div>
        </div>
        <div class='col-8'>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="#" class="nav-link">Hi <strong>{{request.user.username }}</strong>, </a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'add' %}" class="nav-link"> Add/Delete Goals</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'login' %}" class="nav-link">Login/Register</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            <li class="nav-list-item" style="margin-left:100px;">
            </li>
        </ul>
        </div>
    </nav>